/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   background-color: #eceff1
 }

 li {
   color: #e65100
 }


 .collection-item a{
   color: #e65100
 }

 .collection-item {
   color: #90a4ae
 }

 h1, h5{
   color: #e65100
 }

  .waves-effect input[type="submit"]  {
   color: white
 }

 .input-field input[type=text]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
  color: #90a4ae !important;
 }

/* label underline focus color */
 .input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #90a4ae !important;
  box-shadow: 0 1px 0 0 #90a4ae !important;
 }

 .input-field input[type=password]:focus, .materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #90a4ae !important;
  box-shadow: 0 1px 0 0 #90a4ae !important;
 }

 .waves-effect {
   color: #e65100
 }
